
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
header{
    width: 98vw;
    height: 89px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #f5f5f58a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    color: #000;
    text-decoration: none;
    padding: 10px;
}
a:hover{
    background-color: rgb(243, 243, 243);
    text-decoration: underline;
}
ul{
    display: flex;
    list-style-type: none;
}
li, .nav1 *{
    margin: 9px;
}
main{
    display: flex;
    justify-content: space-evenly;
}
.text-left{
    font-size: 37.43px;
    margin: 30px;
}
.text-left p{
    font-size: medium;
    margin: 0px;
}
.text-left h1{
    margin: 0px;
}
.img-right img{
    width: 623.01px;
    height: 600.67px;
    margin: 0px;
    position: relative;
    bottom: 420.46px;
    right: 10px;
    transform: rotate(-18deg);
    filter: drop-shadow(0px 0px 2.3px black);
}
.img-right h1{
    font-size: 88px;
    color: rgba(255, 255, 255, 0.089);
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: rgb(167, 167, 167);
}
.text-left button{
    width: 120px;
    padding: 11.8px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #ffff;
    cursor: pointer;
}